@font-face{
    font-family: 'Porsche Next';
    src: url('../Tipografia/Porsche\ Next.ttf') format('opentype');
    font-weight: 400;
}

@font-face{
    font-family: 'Porsche Next';
    src: url('../Tipografia/PorscheNext-SemiBold.otf') format('opentype');
    font-weight: 600;
}